[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
